  body{
    background:#EBE77E;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
  }
  .t1{
    width:0;
    height:0;
    border-left:75px solid transparent;
    border-right:70px solid transparent;
    border-bottom:70px solid #DE817E;
    rotate:270deg;
    z-index:2;
    position:relative;
  }

  .t1.yellow{
     border-bottom:75px solid #EBE77E;
  }
  #s1 {
    width: 150px;
    height: 140px;
    background: #DE817E;
    position:absolute;
    left:635px;
  }
