/* way 1 */
.container {
    height: 50vh;
    width: 50vw;
    border: 1px solid black;
    display: grid;
    place-items: center;
}

/* way 2 */
.container2 {
    height: 50vh;
    width: 50vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    height: 50px;
    width: 50px;
    background-color: aqua;
    border: 1px solid black;
}
